*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
header{
    border-radius: 0 0 40px 40px;
    background: #5956A6;
    display: flex;
    color: white;
    align-items: center;
    padding: 25px;
    grid-area: header;
}
header>a{
    color: inherit;
    text-decoration: inherit;
    margin-left: 40px;
}
.busca{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.busca>input{
    width: 50%;
    height: 32px;
    outline: none;
    border: none;
    border-radius:10px 0 0 10px;
    padding: 10px;  
}
.busca>img{
    height: 32px;
    padding-top: 5px;
    background: white;
    border-radius: 0 10px 10px 0 ;
    padding-right: 6px;
}
header>img{
    margin: 0 40px;
}


main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
    margin: 50px 0;
}
.banner{
    width: calc(70vw * .7);
    height: calc(25vw * .7);
    min-width: 600px;
    min-height: 214px;
    margin: 50px auto;
    background-image: url(Img/g8.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
main>a{
    color: inherit;
    text-decoration: inherit;
    margin: 20px 60px;
}
main>a>div{
    width: 600px;
    height: 300px;
    border-radius: 9px;
    background:#A09DE5; 
}
main img{
    border-radius: 5px;
}



footer{
    background: #5956A6;
    padding: 10px;
}
.creditos{
    font-size: .6rem;
    color: inherit;
    text-decoration: inherit;
}

@media only screen and (max-width: 600px)
{
    header>input{
        width: 271px;
        height: 32px;
        outline: none;
        border: none;
        border-radius:10px 0 0 10px;
        padding: 10px;
        margin-left: 10px;
    }
}
